.corpo-texto{
    text-align: center;
    background-color: aqua;
    color: black;
    border: groove 10px green;

}
.lista{
    border: double red 10px;
    background-color: black;
    color: aliceblue;
    font-size: 25px;
}

#link-seliga{
    font-size: 30px;
    color:red;
} 
#link-seliga:hover{
    font-size: 30px;
    color:darkblue;
} 